# **INDEX OBJECTS AND LABELED DATA**

In [1]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
data = pd.read_csv('/content/drive/MyDrive/data/pokemon.csv') #pokemon.csv datası dataframe'e çevrilir.

In [3]:
data= data.set_index("#")

In [4]:
print(data.index.name) #indeks sütunu '#' ile değiştirildiğinden indeks adı olarak # yazdırır.

#

In [5]:
data.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [6]:
data.index.name = "index_name"  #indeks sütununun adı index_name olarak değiştirilir.
data.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
index_name,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [7]:
data.head()

data3 = data.copy()  #copy methoduyla data3 memory'de ayrı bir alan açılır.
                     #bu sayede data3'te yapılan değişiklikler orijinal datayı etkilemez.
                     #çünkü ikisi hafızada farklı alanlarda tutulur.

data3.index = range(100,900,1) #range ile indeksin başlangıç ve bitiş değerleri değiştirilir.
data3.head()                   #data3'de 5 satır olduğu için 100'den başlayıp birer birer artarak 104'te biter.

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
100,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
101,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
102,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
103,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
104,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

# **HIERARCHICAL INDEXING**

In [8]:
data = pd.read_csv('/content/drive/MyDrive/data/pokemon.csv')
data.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [9]:
data1 = data.set_index(["Type 1","Type 2"])  #Type 1 ve Type 2 sütunları yeni indekslerdir.
data1.head(100)                              #ilk yazılan outer index, ikinci yazılan inner index olur.
                                             #ilk önce Type 1'e göre daha sonra Type 2'ye göre dizer.

                 #           Name   HP  Attack  Defense  Sp. Atk  Sp. Def  \
Type 1 Type 2
Grass  Poison    1      Bulbasaur   45      49       49       65       65
       Poison    2        Ivysaur   60      62       63       80       80
       Poison    3       Venusaur   80      82       83      100      100
       Poison    4  Mega Venusaur   80     100      123      122      120
Fire   NaN       5     Charmander   39      52       43       60       50
...            ...            ...  ...     ...      ...      ...      ...
Poison NaN      96         Grimer   80      80       50       40       50
       NaN      97            Muk  105     105       75       65      100
Water  NaN      98       Shellder   30      65      100       45       25
       Ice      99       Cloyster   50      95      180       85       45
Ghost  Poison  100         Gastly   30      35       30      100       35

               Speed  Generation  Legendary
Type 1 Type 2
Grass  Poison     45           1      False
       Poison     60           1      False
       Poison     80           1      False
       Poison     80           1      False
Fire   NaN        65           1      False
...              ...         ...        ...
Poison NaN        25           1      False
       NaN        50           1      False
Water  NaN        40           1      False
       Ice        70           1      False
Ghost  Poison     80           1      False

[100 rows x 10 columns]


# **PIVOTING DATA FRAMES**

*   Columnlar valuelara, valuelar da columnlara dönüştürülür.
*   Dataframe'e farklı bir bakış açısı getirir.

In [10]:
dic = {"treatment":["A","A","B","B"],"gender":["F","M","F","M"],"response":[10,45,5,9],"age":[15,4,72,65]}
#bir dictionary oluşturuldu.
df = pd.DataFrame(dic)  #bu dictionary dataframe'e dönüştürüldü.
df

  treatment gender  response  age
0         A      F        10   15
1         A      M        45    4
2         B      F         5   72
3         B      M         9   65

In [11]:
df.pivot(index="treatment",columns = "gender",values="response")  #index treatment sütunu yapıldı.
                                                                  #columnlar gender sütundaki verilerden (male,female) oluşur.
                                                                  #valuelar response sütunu yani tedaviye yanıt verme durumudur.

gender      F   M
treatment
A          10  45
B           5   9

# **STACKING and UNSTACKING DATAFRAME**
*   Birden çok indeks olduğunda o indexlerle ilgilenilmesi gerekebilir.
*   **swaplevel**: inner ve outer indekslerin yerini değiştirmektir.
*   **level:** outer indeks level=0, inner indeks level=1'dir.

In [12]:
df1 = df.set_index(["treatment","gender"])  #treatment outer indeks, gender inner indekstir.
df1

                  response  age
treatment gender
A         F             10   15
          M             45    4
B         F              5   72
          M              9   65

In [13]:
df1.unstack(level=0)               #treatment sütunu indekslikten çıkarılmıştır, sadece gender indekstir.

          response    age
treatment        A  B   A   B
gender
F               10  5  15  72
M               45  9   4  65

In [14]:
df1.unstack(level=1)             #gender sütunu indekslikten çıkarılmıştır, sadece treatment indekstir.

          response     age
gender           F   M   F   M
treatment
A               10  45  15   4
B                5   9  72  65

In [15]:
df2 = df1.swaplevel(0,1)     #inner ve outer indekslerin yeri değiştirilir.
df2

                  response  age
gender treatment
F      A                10   15
M      A                45    4
F      B                 5   72
M      B                 9   65

# **MELTING DATA FRAMES**
*   Pivotun tersidir.

In [16]:
df

  treatment gender  response  age
0         A      F        10   15
1         A      M        45    4
2         B      F         5   72
3         B      M         9   65

In [17]:
pd.melt(df,id_vars="treatment",value_vars=["age","response"])  #id_vars'ta treatment sütunu sabit kalır.
                                                               #value_vars yeni oluşması istenilen variablelardır.

  treatment  variable  value
0         A       age     15
1         A       age      4
2         B       age     72
3         B       age     65
4         A  response     10
5         A  response     45
6         B  response      5
7         B  response      9

# **CATEGORICALS AND GROUPBY**

In [18]:
df

  treatment gender  response  age
0         A      F        10   15
1         A      M        45    4
2         B      F         5   72
3         B      M         9   65

In [19]:
df.groupby("treatment").mean()    #treatment sütunundaki verilere göre gruplanır ve sütunların ortalaması alınır.
                                  #response sütununda treatment B olan veriler 5 ve 9'dur.
                                  #(5+9)/2=7 treatment B'nin response değeri 7'dir.

           response   age
treatment
A              27.5   9.5
B               7.0  68.5

In [20]:
df.groupby("treatment").age.max() #treatment sütununa göre gruplanır.
                                  #age sütununun max değerleri alınır.

treatment
A    15
B    72
Name: age, dtype: int64

In [21]:
df.groupby("treatment")[["age","response"]].min() #treatmenta göre gruplanır.
                                                  #age ve respons sütunlarının min değerleri alınır.

           age  response
treatment
A            4        10
B           65         5

In [22]:
df.info()   #treatment ve gender sütunlarının datatype'ı objecttir.
            #String değer barındırır.
            #Bu sütunların türü category yapılabilir.
            #Çünkü categorical data hafızayı daha az kullanılır, group by gibi operationları hızlandırır.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   treatment  4 non-null      object
 1   gender     4 non-null      object
 2   response   4 non-null      int64
 3   age        4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes