# **ITERATORS**
*   List, string, dictionary gibi object yapılar birer **iterable**'dır, bu yapılar **iterator** döndürür.

In [1]:
name = "ronaldo"
it = iter(name)
print(next(it))    
print(*it)

r
o n a l d o

# **zip()**

In [2]:
list1 = [1,2,3,4]    #1. liste indeks numarası
list2 = [5,6,7,8]    #2. liste listenin değerleri
z = zip(list1,list2)  #zip methodu ile indeks numaraları ve değerler bir arada tutulabilir.
print(z)              #zip objesi yaratıldı.
z_list = list(z)      #zip objesi liste şeklinde tanımlandı.
print(z_list)

<zip object at 0x7ff38367a140>
[(1, 5), (2, 6), (3, 7), (4, 8)]

In [4]:
un_zip = zip(*z_list)   #zip(*) ile unzip yapılır.
un_list1,un_list2 = list(un_zip) #unzip yapılan değer bir objedir, listeye çevrilir.
print(un_list1)
print(un_list2)
print(type(un_list2))
print(type(list(un_list2)))

(1, 2, 3, 4)
(5, 6, 7, 8)
<class 'tuple'>
<class 'list'>

# **LIST COMPREHENSION**
*   Data analizinde sık sık kullanılır.
*   Tek satırda döngüler kullanılarak liste oluşturmak ya da pandas kütüphanesi ile yeni featurelar oluşturmak için kullanılır.

In [5]:
num1 = [1,2,3]
num2 = [i + 1 for i in num1 ] #for döngüsü kullanılarak bir liste oluşturuldu.
print(num2)

[2, 3, 4]

In [6]:
num1 = [5,10,15]
num2 = [i**2 if i == 10 else i-5 if i < 7 else i+5 for i in num1]  #for döngüsü ile her bir eleman i'nin içerisinde tutulur.
print(num2)                                                        #i değeri 10'a eşitse karesi alınır.
                                                                   #i değeri 7'den küçükse 5 çıkartılır.
                                                                   #her iki durum da değilse 5 eklenir.

[0, 100, 20]

In [7]:
import pandas as pd 

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
data = pd.read_csv('/content/drive/MyDrive/data/pokemon.csv') #pokemon.csv datası dataframe'e çevrilir.

In [9]:
threshold = sum(data.Speed)/len(data.Speed)  #Pokemonların speedinin ortalaması alınır.
data["speed_level"] = ["high" if i > threshold else "low" for i in data.Speed] #Speed sütunundaki veriler i değişkeninde tutulur.
                                                                               #Pokemonların speedi low/high olarak nitelendirilir.
data.loc[:10,["speed_level","Speed"]]                                          #Speed sütunundaki 10. satır inclusive olmak üzere yazdırılır.

   speed_level  Speed
0          low     45
1          low     60
2         high     80
3         high     80
4          low     65
5         high     80
6         high    100
7         high    100
8         high    100
9          low     43
10         low     58