In [6]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
data = pd.read_csv('/content/drive/MyDrive/data/pokemon.csv') #pokemon.csv datası dataframe'e çevrilir.

In [1]:
i = 0                     #i değeri başlangıçta 0 olarak atanmıştır.
while i != 5 :            #i değeri 5 olana kadar 1 artırılıp yazdırılır.
    print('i is: ',i)
    i +=1
print(i,' is equal to 5')

i is:  0
i is:  1
i is:  2
i is:  3
i is:  4
5  is equal to 5

In [2]:
lis = [1,2,3,4,5]       #bir liste oluşturulup, liste içerisindeki değerler for döngüsüyle teker teker yazdırılmıştır.
for i in lis:
    print('i is: ',i)
print('')

i is:  1
i is:  2
i is:  3
i is:  4
i is:  5

List, pandas ve dictionary yapılarındaki değer ve değerin indeksini for döngüsü ile elde edebilir.

Liste içerisinde hem değerler vardır, hem de bu değerlerin indeksleri vardır.
enumerate() methodu liste içerisindeki değerleri indeks numaralarıyla yazdırır.

In [3]:
for index, value in enumerate(lis):
    print(index," : ",value)
print('')

0  :  1
1  :  2
2  :  3
3  :  4
4  :  5

Dictionary'deki değerler çok fazla olduğunda bu değerlere teker teker erişim zorlaşır. for döngüsü ile dictionary'deki değerlere erişim sağlanır. dictionary.items() methoduyla dictionary'deki keyler ve valuelara birlikte erişim sağlanır.

In [4]:
dictionary = {'spain':'madrid','france':'paris'}
for key,value in dictionary.items():
    print(key," : ",value)
print('')

spain  :  madrid
france  :  paris

Pandas ile seçilen feature'un değeri ve bu değerin indeksi iterrows() methoduyla for döngüsü kullanılarak yazdırılır.

In [8]:
for index,value in data[['Attack']][0:1].iterrows(): 
    print(index," : ",value)

0  :  Attack    49
Name: 0, dtype: int64