# **MISSING DATA and TESTING WITH ASSERT**
    
  Missing datalarla karşılaşıldığında;

*   Olduğu gibi bırakılabilir.
*   **dropna()** methodu ile kaldırılabilir.
*   **fillna()** methodu ile doldurulabilir.
*   describe() methodundan elde edilen istatiksel verilerle (mean gibi) doldurulabilir.

In [1]:
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings('ignore')

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
data = pd.read_csv('/content/drive/MyDrive/data/pokemon.csv') #pokemon.csv datası dataframe'e çevrilir.

In [3]:
data.info()  #Type 2 sütununda 800 sampledan 386 verinin missing data olduğu anlaşılır.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        799 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [4]:
data.head() #Charmander pokemonunun Type 2 sütununda NaN value var. 
            #Bu değer hiç yok mu yoksa dataya mı yazılmamış bilinmemektedir.

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [5]:
data["Type 2"].value_counts(dropna = False) #value count methoduyla Type 2 sütununda farklı verilerden kaç tane olduğu anlaşılır.
                                           #dropna = False ile missing datalar da gösterilir.

NaN         386
Flying       97
Ground       35
Poison       34
Psychic      33
Fighting     26
Grass        25
Fairy        23
Steel        22
Dark         20
Dragon       18
Ice          14
Rock         14
Water        14
Ghost        14
Fire         12
Electric      6
Normal        4
Bug           3
Name: Type 2, dtype: int64

In [6]:
data1=data.copy() #copy methoduyla data1 değişkenine memory'de yeni bir alan tahsis edilir.
                  #copy methodu kullanılmazsa data1'in içinde yapılan değişiklikler data'nın içerisinde de yapılır.
                  #Çünkü iki değişken de memory'de aynı alanda bulunurlar.

In [7]:
data1.dropna(subset=["Type 2"],inplace = True) #Type 2 sütunundaki NaN değerler dropna methoduyla kaldırılır.
                                                #bir sütundaki NaN değerlerin kaldırılması için subset parametresinin kullanılması gereklidir.
                                       #inplace=True olduğunda veri setinden kalıcı olarak çıkartılır.

**Assert statement**
*   Assert’in kullanım amacı, programın bir koşulu denetlemesidir.
*   Assert ile programın doğru çalışıp çalışmadığı kontrol edilir.
*   Hatanın çözümü için bir yol sunmaz.
*   Program hata ile karşılaştığında bir hata mesajı gösterir.

In [8]:
assert 1==1 #koşul doğrudur, bu yüzden bir mesaj gözükmez.

In [9]:
assert 1==2 #koşul yanlış olduğundan bir hata mesajı gösterir.

AssertionError: ignored

In [10]:
assert  data1['Type 2'].notnull().all() #datadaki NaN değerler çıkarıldığı için hata mesajı verilmedi.

In [11]:
data["Type 2"].fillna('empty',inplace = True) #Type2 sütunu empty değerler ile dolduruldu.

In [12]:
data.loc[:20,"Type 2"]  #burada NaN değerler barındıran sütunların empty ile doldurulduğu görülür.

0     Poison
1     Poison
2     Poison
3     Poison
4      empty
5      empty
6     Flying
7     Dragon
8     Flying
9      empty
10     empty
11     empty
12     empty
13     empty
14     empty
15    Flying
16    Poison
17    Poison
18    Poison
19    Poison
20    Flying
Name: Type 2, dtype: object

In [13]:
assert  data['Type 2'].notnull().all() #Type 2 sütununda NaN değer olmadığı için hata mesajı vermez.

In [14]:
assert data.Speed.dtypes == np.int #Speed sütunundaki dataların türünün integer olup olmadığını kontrol eder.